<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .flex-container {
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
      gap: 4px;
      flex-wrap: wrap;
    }

    .split-regex-wrapper {
      display: none;
    }
  </style>
</head>

<body>
  <p>Covert to ePub</p>
  <div class="filelist">
    <div id="file-list"></div>
  </div>
  <div class="control">
    <div class='flex-container'>
      <div>
        <input type="checkbox" id="split-book"><label for="split-book">Split Book</label>
      </div>
      <label for="split-regex">Regex</label>
      <input type="text" id="split-regex" value="第\s*(.*)章">
      <div class="split-regex-wrapper">
        <label for="split-count">Split Count</label>
        <input type="number" id="count">
      </div>
    </div>
  </div>
  <div class="form">
    <label for="title">Title</label>
    <input type="text" id="title" value="">
    <label for="author">Author</label>
    <input type="text" id="author" value="">
  </div>
  <div><button id="cover-btn">Covert</button></div>
  <div class="preview"></div>
</body>
<script src="/static/comm.js"></SCRIPT>
<script src="/static/epub.js"></SCRIPT>

</html>