<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div>
    <h2>Proc ebook</h2>
    <a href="/page/format">format</a>
    <a href="/page/txt">txt</a>
    <a href="/page/split">split</a>
    <a href="/page/epub">epub</a>
    <div style="margin-top: 1rem;">
      <input type="file" id="upload-file">
    </div>
  </div>
</body>
<script src="/static/comm.js"></SCRIPT>
<script src="/static/index.js"></script>

</html>