<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Split with Chapter</title>
</head>

<body>
  <div class="container">

    <div>
      <span>Split with Chapter</span>
      <a href="/">Back to Home</a>
    </div>
    <div class="filelist">
      <div id="file-list"></div>
    </div>
    <div class="control">
      <div class="flex-col">
        <div>
          <label for="split-regex">&nbsp;&nbsp;&nbsp;正则</label>
          <input type="text" id="split-regex" value="第\s*(.*)章"> 
        </div>
        <div>
          <label for="count">分割数</label>
          <input type="text" id="count">
        </div>
        <button id="split-regex-submit">Split</button>
      </div>
    </div>

    <div class="preview"></div>
  </div>
</body>
<link rel="stylesheet" href="/static/comm.css">
<script src="/static/comm.js"></SCRIPT>
<script src="/static/split.js"></SCRIPT>

</html>